<?xml version="1.0" encoding="UTF-8" standalone="no"?><CONFIG>
	<GENERAL>
		<WINDOW Height="1013" Width="1866" X="8" Y="15"/>
		<PROPERTY Name="Interpreter">swipl</PROPERTY>
	</GENERAL>

	<MISC>
		<PROPERTY Name="Language">English</PROPERTY>
		<PROPERTY Name="PrologDir">C:\Program Files\swipl\bin</PROPERTY>
		<PROPERTY Name="SrcDir">D:\Facu-Coding\Facu\Tercero\tecPro\Programación lógica</PROPERTY>
	</MISC>

	<FORMATTING>
		<PROPERTY Name="EditorFont">Courier New</PROPERTY>
		<PROPERTY Name="EditorFontSize">23</PROPERTY>
		<PROPERTY Name="PrologFont">Courier New</PROPERTY>
		<PROPERTY Name="PrologFontSize">23</PROPERTY>
	</FORMATTING>

	<HIGHLIGHTING>
		<PROPERTY Name="Editor">1</PROPERTY>
		<PROPERTY Name="Prolog">1</PROPERTY>
		<STYLE Bold="0" Color="000153000" Element="Comment" Italic="1" Underline="0"/>
		<STYLE Bold="0" Color="153153153" Element="Quote1" Italic="0" Underline="0"/>
		<STYLE Bold="0" Color="110110110" Element="Quote2" Italic="0" Underline="0"/>
		<STYLE Bold="0" Color="000000000" Element="Functor" Italic="0" Underline="1"/>
		<STYLE Bold="1" Color="000000000" Element="Keyword" Italic="0" Underline="0"/>
		<STYLE Bold="0" Color="255000000" Element="Number" Italic="0" Underline="0"/>
		<STYLE Bold="0" Color="000000255" Element="Variable" Italic="0" Underline="0"/>
		<STYLE Bold="0" Color="000000000" Element="Standard" Italic="0" Underline="0"/>
	</HIGHLIGHTING>

	<COMMANDS>
		<PROPERTY Name="Command1">-</PROPERTY>
		<PROPERTY Name="Command2">-</PROPERTY>
	</COMMANDS>
</CONFIG>